<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.back.server.DAO.PostgreDbDAO">
    <select id="selectDbTableList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT table_schema || '.' || table_name as table_name
          FROM information_schema.tables
         WHERE table_schema = 'iot'
           AND table_type = 'BASE TABLE';
    </select>

    <select id="selectDbColumnList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT column_name, data_type, is_nullable
          FROM information_schema.columns
         WHERE table_name = #{table}
        ORDER BY ordinal_position;
    </select>

    <select id="selectTableData" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * 
          FROM ${table_name}
        ORDER BY date DESC, time DESC
        LIMIT 50;
    </select>

    <!-- 동적 테이블 이름과 값으로 데이터 삽입 -->
    <insert id="insertData">
        INSERT INTO ${tableName}
        VALUES (
            <foreach collection="values" item="value" separator=",">
                #{value}
            </foreach>
        )
    </insert>
</mapper>